// Colors
$white: #ffffff;
$black: #000000;
$taupe-beige: #AD9D87;

// Gradients
$gradient-orange: linear-gradient(180deg,
                rgba(255, 152, 0, 0.4) 0%,
                rgba(255, 152, 0, 0.184) 100%);

// Fonts
$font-poppins: 'Poppins', sans-serif;